<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name }}</title>
</head>

<body>
    <h1>
        {{upper class}}
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quidem expedita animi odit harum sint autem
        eligendi numquam ex ea doloremque consequuntur debitis, exercitationem facilis, eos nisi. Porro, quis
        aperiam!Hic consectetur incidunt quae temporibus tempora maiores facere delectus molestias illum voluptatum
        omnis nobis iusto, mollitia minima explicabo minus amet commodi suscipit laudantium ullam possimus! Illum minus
        ipsa quasi sunt.</p>
    {{> footer }}
</body>

</html>